<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>108719208431-d7e5a2joi133p0hi15e8kci4sls6flbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108719208431-d7e5a2joi133p0hi15e8kci4sls6flbq</string>
	<key>API_KEY</key>
	<string>AIzaSyBnAQ7DK3ep5JN4-1OYeGJ41zHNZlevjpI</string>
	<key>GCM_SENDER_ID</key>
	<string>108719208431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joecean.Connoisseur-Club-Central</string>
	<key>PROJECT_ID</key>
	<string>connoisseurs-club</string>
	<key>STORAGE_BUCKET</key>
	<string>connoisseurs-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:108719208431:ios:cf8c6296d3de7858</string>
	<key>DATABASE_URL</key>
	<string>https://connoisseurs-club.firebaseio.com</string>
</dict>
</plist>